<div class="container container-fluid main-div">
  <mat-card class="change-password-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon>password</mat-icon>
      </div>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="change-password-form"> 
        <div class="change-password-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="password" matInput placeholder="Current Password" />
            </div>
            <!-- <mat-error *ngIf="loginFormGroup.controls.password.invalid">Password should be of 8 character</mat-error> -->
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>

        <div class="change-password-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="password" matInput placeholder="New Password" />
            </div>
            <!-- <mat-error *ngIf="loginFormGroup.controls.password.invalid">Password should be of 8 character</mat-error> -->
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>

        <div class="change-password-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="password" matInput placeholder="Confirm Password" />
            </div>
            <!-- <mat-error *ngIf="loginFormGroup.controls.password.invalid">Password should be of 8 character</mat-error> -->
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">
        Change
      </button>
    </mat-card-actions>
  </mat-card>
</div>
