<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="isUserLoggedIn">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Flick</span>
  <span class="example-spacer"></span>
  <div class="search" *ngIf="true">
    <app-search></app-search>
  </div>
  <button
    mat-button
    class="example-icon"
    (click)="navigateToLogin()"
  >
    <span>Login</span>
  </button>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       <mat-icon>share</mat-icon>
     </button> -->
</mat-toolbar>
