.login-card {
    max-width: 500px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 200px;
  }

  .example-header-image {
    background-image: url('../../../../../assets/images/LoginIconAppl.png');
    background-size: cover;
  }

  .login-form{
    width: 400px;
  }