<div class="container container-fluid main-div">
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> Authenticate yourself</mat-card-title>
      <mat-card-subtitle>Give your credential and lets validate your account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container">
      <form class="login-form" [formGroup]="loginFormGroup">
        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="text" matInput placeholder="Email Id" formControlName="userName"/>
            </div>
            <mat-error *ngIf="loginFormGroup.controls.userName.invalid">Not a Email Id</mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="password" matInput placeholder="Password" formControlName="password"/>
            </div>
            <mat-error *ngIf="loginFormGroup.controls.password.invalid">Password should be of 8 character</mat-error>
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <p>
        <span
        >New user !! Click <a [routerLink]="['/auth/register']" routerLinkActive="router-link-active"> here</a> to create new account</span
        >
      </p>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
