<div class="container container-fluid main-div">
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Let's Register you</mat-card-title>
      <mat-card-subtitle>Create your account and let's get started</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container">
      <form class="login-form" [formGroup]="registerFormGroup">

        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="text" matInput placeholder="Full Name" formControlName="name"/>
            </div>
            <mat-error *ngIf="registerFormGroup.controls.name.invalid">Cannot be empty</mat-error>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="text" matInput placeholder="Email Id" formControlName="email"/>
            </div>
            <mat-error *ngIf="registerFormGroup.controls.email.invalid">Enter a valid email id</mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="password" matInput placeholder="Password" formControlName="password"/>
            </div>
            <mat-error *ngIf="registerFormGroup.controls.password.invalid">Password should be of 8 character</mat-error>
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>

        <div class="login-form">
          <mat-form-field appearance="outline">
            <div class="form-group">
              <input type="password" matInput placeholder="Retype password" formControlName="confirmPassword"/>
            </div>
            <mat-error *ngIf="registerFormGroup.controls.confirmPassword.invalid">Password should be of 8 character
            </mat-error>
            <mat-error *ngIf="registerFormGroup.controls.confirmPassword.invalid">Password did not match</mat-error>
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <p>
          <span
          >Already have account with us!! click <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active"> here</a> to authenticate your account</span
          >
      </p>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</div>
